@import "tailwindcss";

/* Completely remove the scrolling side bar across all elements for a clean native mobile experience */
html,
body,
#root,
* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
  background: transparent !important;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}
